/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
package-lock.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
.DS_Store
.idea/laravel-api.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

